.app_navigation {
  position: sticky;
  top: 0;
  z-index: 10;
}

.home__topbar {
  height: 4em;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 0 1em;
}

.home__topbar-left__logo-text {
  position: relative;
  display: flex;
  flex-direction: column;
  line-height: 0.7em;
}

.home__topbar-left__logo-text img {
  width: 2em;
  position: absolute;
  z-index: 0;
  top: -0.25em;
  left: 35%;
}

.home__topbar-left__logo-text span {
  z-index: 1;
}

.home__topbar-left {
  flex: 3;
}

.home__topbar-center {
  flex: 4;
  background-color: white;
  height: 60%;
  border-radius: 15px;
  padding: 0.5em;
  gap: 1em;
}

.home__topbar-center_searchInput {
  width: 100%;
  border: none;
  outline: none;
}

.home__topbar-right {
  flex: 5;
  justify-content: end;
  color: white;
}

.home__topbar ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.home__topbar-right_links { gap: 1.5em; }

.home__topbar-right_icons { gap: 0.8em; }

.home__topbar-right_icon { position: relative; }

.home__topbar-right_icon svg { font-size: 1.4em; }

.home__topbar-right_iconBadge {
  position: absolute;
  top: -0.5em;
  right: -0.5em;
  width: 1em;
  height: 1em;
  background-color: red;
  border-radius: 50%;
  font-size: 0.8em;
  padding: 0.65em;
}

.home__topbar-right_link-menu {
  display: none;
}

.home__topbar-bottom { display: none; }

@media screen and (max-width: 768px) {
  .home__topbar-left {
    flex: 2;
  }
}

@media screen and (max-width: 576px) {
  .home__topbar-left__logo-text {
    font-size: 1.5em;
  }

  .home__topbar-left {
    flex: 1;
  }

  .home__topbar-center {
    display: none;
  }

  .home__topbar-right_link:has(.home__topbar-right_icons) {
    display: none;
  }

  .home__topbar-right_link-menu {
    display: flex !important;
  }

  .home__topbar-right_link-menu button {
    display: flex !important;
    background: none;
    color: white;
    border: none;
    font-size: 1.3em;
    width: 100%;
    height: 100%;
  }

  .home__topbar-bottom {
    position: fixed;
    height: 100%;
    z-index: -1;
    top: 4em;
    left: 0;
    right: 0;
    border-top: 1px solid lightsteelblue;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    transition: 0.5s ease;
    overflow: auto;
  }

  .home__topbar-bottom::-webkit-scrollbar {
    width: 0;
    border-bottom-right-radius: 5px;
  }

  .home__topbar-bottom_link {
    flex-direction: column;
    gap: 1em;
    color: white;
  }

  .home__topbar-bottom .home__topbar-center {
    display: flex !important;
  }

  .home__topbar-bottom_icons {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 1em;
  }

  .home__topbar-bottom_icons li {
    color: white;
    display: flex;
    align-items: center;
  }

  .home__topbar-right_iconBadge {
    position: relative;
    margin-left: 1em;
    top: 0;
    left: 0;
  }

  .home__sidebar {
    display: flex !important;
  }

  .home__sidebar-list {
    overflow: auto;
  }
}
