.home__rightSidebar { flex: 1.3; }

.rightSidebar__wrapper { padding: 1em 2em 1em 0; }

.rightSidebar__birthday-container { align-items: center; }

.rightSidebar__birthday-img {
  width: 1.5em;
  margin: 0 1em;
}

.rightSidebar__ad { margin: 3em 0; }

.rightSidebar__friendsList { padding: 1em; }

.rightSidebar__friendsList h3 { padding-bottom: 1em; }

@media screen and (max-width: 576px) {
  .home__rightSidebar { display: none; }
}
