.aboutEdit {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 11;
  color: black;
}

.aboutEdit__modal-background {
  position: absolute;
  background-color: rgb(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
}

.aboutEdit__modal {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  height: 80%;
  width: 60%;
  background-color: white;
  border-radius: 5px;
}

.aboutEdit__modal-container {
  position: relative;
  padding: 1em;
}

.aboutEdit__modal-header {
  position: sticky;
  top: 0.4em;
  padding-left: 1em;
  width: 100%;
  justify-content: space-between;
}

.aboutEdit__modal-close { font-size: 2em; }

.aboutEdit__modal-edit {
  padding: 2em 1em;
}

.aboutEdit__modal-edit_field {
  flex-direction: column;
}

.aboutEdit__modal-edit_field-item_header {
  font-weight: 500;
}

.aboutEdit__modal-edit_name-value {
  border: 0;
  border-bottom: 1px solid gainsboro;
  outline: none;
}

.aboutEdit__modal-edit_name-value:focus {
  border-bottom: 1px solid grey;
}

@media screen and (max-width: 768px) {
  .aboutEdit__modal {
    height: 80%;
    width: 70%;
  }
}

@media screen and (max-width: 576px) {
  .aboutEdit__modal {
    height: 80%;
    width: 95%;
  }
}
