.post {
  margin-top: 2em;
  padding: 1em;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 16px -8px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 0 16px -8px rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 16px -8px rgba(0, 0, 0, 0.7);
}

.post button {
  cursor: pointer;
  border: none;
  background: none;
}

.post__wrapper {
  padding: 0.5em;
}

.post__top {
  align-items: center;
  justify-content: space-between;
}

.post__top_left {
  align-items: center;
}

.post__top_right {
  position: relative;
}

.post__top-right__options {
  display: flex;
  flex-direction: column;
  right: 0.5em;
  top: 1em;
  position: absolute;
  border-radius: 10px;
  border-top-right-radius: 0;
  width: max-content;
  background-color: ghostwhite;
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0);
  -moz-box-shadow: 0 6px 10px 0 rgba(0, 0, 0);
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0);
}

.post__top-right__option {
  padding: 0.8em;
  text-align: start;
}

.post__top-right__option:hover {
  color: white;
}

.post__top-right__option:first-child:hover {
  border-top-left-radius: 10px;
  background-color: forestgreen;
}

.post__top-right__option:last-child:hover {
  background-color: crimson;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.post__username { margin: 0 1em; }

.post__date {
  font-size: small;
  color: gray;
}

.post__body-text { margin: 1.5em 0; }

.post__body-text span {
  color: cornflowerblue;
  font-size: 0.85em;
  font-weight: 500;
}

.post__body-img {
  position: relative;
  overflow: hidden;
  margin-bottom: 1em;
}

.post__body-img__more {
  position: absolute;
  width: 30%;
  bottom: 0;
  right: 0;
}

.post__body-img__more-container {
  position: relative;
}

.post__body-img__more-overlay {
  cursor: pointer;
  position: absolute;
  color: white;
  font-size: 1.5em;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.5);
}

.post-Img {
  width: 100%;
  transition: 0.3s;
  object-fit: cover;
  transform: scale(1.08);
}

.post-Img:hover {
  transform: scale(1);
}

.post__bottom-main {
  justify-content: space-between;
  align-items: center;
}

.post__bottom-left { width: 100%; }

.post__comment-text {
  width: max-content;
  font-size: smaller;
  background: none;
  border: none;
}

.comments__heading {
  font-weight: 600;
  margin-top: 1.5em;
}
