::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: darkgray;
}

:root {
  --theme-color1: dodgerblue;
  --theme-color2: lightseagreen;
  --theme-color3: mediumvioletred;
  --theme-color4: lightpink;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

ul { list-style: none; }

.theme-color1 {
  background-color: var(--theme-color1);
}

.theme-color2 {
  background-color: var(--theme-color2);
  color: white;
}

.theme-color3 {
  background-color: var(--theme-color3);
  color: white;
}

.theme-color1 *,
.theme-color2 *,
.theme-color3 * {
  color: white;
}

.theme-color4 {
  background-color: var(--theme-color4);
  color: white;
}

.theme-color4 * {
  color: black;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-evenly {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.pointer {
  cursor: pointer;
}

.sm-screen { display: none; }

.hide { display: none !important; }

.small-profile-pic {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  object-fit: cover;
}

.slider {
  left: 100% !important;
}

.btn-link {
  background: none;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.no-scroll {
  overflow: hidden;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgb(0, 0, 0, 0.9);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  bottom: 120%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

@media screen and (max-width: 768px) {
  .lg-screen { display: none; }
  .sm-screen { display: flex !important; }
}
