::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: darkgray;
}

:root {
  --theme-color1: dodgerblue;
  --theme-color2: lightseagreen;
  --theme-color3: mediumvioletred;
  --theme-color4: lightpink;
}

.theme-color1 {
  background-color: var(--theme-color1);
}

.theme-color2 {
  background-color: var(--theme-color2);
  color: white;
}

.theme-color3 {
  background-color: var(--theme-color3);
  color: white;
}

.theme-color1 *,
.theme-color2 *,
.theme-color3 * {
  color: white;
}

.theme-color4 {
  background-color: var(--theme-color4);
  color: white;
}

.theme-color4 * {
  color: black;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-evenly {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.pointer {
  cursor: pointer;
}

.sm-screen { display: none; }

.hide { display: none !important; }

.small-profile-pic {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  object-fit: cover;
}

.slider {
  left: 100% !important;
}

.btn-link {
  background: none;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.no-scroll {
  position: fixed;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .lg-screen { display: none; }
  .sm-screen { display: flex !important; }
}
