form { padding: 1em 2em; }

nav { border-bottom: 1px solid rgb(220, 220, 220, 0.6); }

fieldset {
  padding-bottom: 1em;
  border: 0;
}

form button {
  margin: 1em;
  margin-bottom: 0;
  background: royalblue;
  padding: 1em 3em;
  color: white;
  border-radius: 5px;
}

nav,
.popupModal__modal-header { background-color: rgb(220, 220, 220, 30%); }

.popupModal__modal-container__content {
  padding: 0 !important;
}

.settings__nav { padding: 0 1em; }

.settings__nav button {
  font-size: 1.1em;
  padding: 1em;
  color: gray;
}

form button:hover {
  background-color: darkcyan;
}

.settings__nav li:first-child {
  margin-right: 1em;
}

.active {
  border-bottom: 4px solid royalblue;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  color: black !important;
}

.field {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 2em;
  padding: 0 10px;
}

.social {
  border-collapse: collapse;
  border: 1px solid gainsboro;
  margin-top: 1em;
  padding: 1em;
}

.field__item {
  flex-direction: column;
}

fieldset label {
  font-weight: 500;
  color: darkslategrey;
  margin-top: 1em;
}

.social-label { padding: 0 1em; }

.field__item input {
  border: 1px solid gainsboro;
  border-radius: 2px;
  margin-top: 1em;
  padding: 1em;
  outline-color: aquamarine;
  font-size: 0.95em;
  height: 100%;
}

.social input {
  border: 0;
  margin-top: 0;
  width: 100%;
}

.social input:focus {
  outline: none;
}

.social:focus-within {
  border: 2px solid aquamarine !important;
}

.social img {
  height: 2em;
  width: 2em;
  margin-left: 0.5em;
}

.line {
  height: 2px;
  background-color: gainsboro;
  width: 50%;
  margin: auto;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

@media screen and (max-width: 768px) {
  .field {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 576px) {
  .settings__nav {
    justify-content: space-evenly;
  }

  .settings__nav li:first-child {
    margin-right: 0;
  }
}
